aside{
  width: 390px;
  height: 100%;
  border-right: 1px solid rgba(94, 94, 94, 0.20);
  background-color: #FFF;
  .Head{
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    height: 150px;
    background-color: #FFF;
    border-bottom: 1px solid gray;
    &__logo{
      display: flex;
    }
    input{
      padding-left: 20px;
      height: 50px;
      margin-top: 30px;
      border-radius: 40px;
      border: 1px solid gray;
      outline: 0;
    }
    p{
      height: 40px;
      display: flex;
      margin-left: 10px;
      position: relative;
      color: #00A3FF;
      font-family: Inter,sans-serif;
      font-size: 22px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      align-items: center;
      background-color: #FFFFFF;
    }
  }
  .UserCards{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    height: 770px;
  }
}