.RightBlock{
  width: 100%;
  background-color: black;
  .Head{
    display: flex;
    position: relative;
    align-items: center;
    width: 100%;
    height: 90px;
    flex-shrink: 0;
    border-bottom: 1px solid #DFDFDF;
    background: #FFF;
    &__Name{
      margin-left: 12px;
    }
    .Image{
      width: 58px;
      height: 58px;
      flex-shrink: 0;
      border-radius: 58px;
      background-size: cover;
      margin: 12px 0 12px 24px;
      background-color: black;
      img{
        width: 58px;
        height: 58px;
        border-radius: 58px;
      }
    }
  }
  .Buttons{
    margin: 0 25px 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 40px;
  }
  .Messages{
    display: block;
    width:100%;
    background-color: #FFFFFF;
    height: 800px;
    overflow-y: auto;
  }
}